<div class="container">
    <div class="row mb-3">
        <div class="col-md-6">
            <h3>{{ 'settings.theme.title' | translate }}</h3>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="themeSwitch" [checked]="isDarkMode" (change)="toggleTheme()">
                <label class="form-check-label" for="themeSwitch">{{ (isDarkMode ? 'settings.theme.dark' : 'settings.theme.light') | translate}}</label>
            </div>
        </div>
        <div class="col-md-6">
            <h3>{{ 'settings.location.title' | translate }}</h3>
            <hr>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownLanguage" ngbDropdownToggle>
                    {{ 'settings.language.selection' | translate }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownLanguage">
                    <button ngbDropdownItem (click)="selectLanguage('de')">
                        <span class="fi fi-at"></span>
                        Deutsch (Österreich)
                    </button>
                    <button ngbDropdownItem (click)="selectLanguage('en')">
                        <span class="fi fi-us"></span>
                        English (United States)
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <h3>{{ 'app.cookies.title' | translate }}</h3>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="cookieSwitch" [checked]="cookiesAccepted" (change)="toggleCookies()">
                <label class="form-check-label" for="cookieSwitch">{{ (cookiesAccepted ? 'app.cookies.accept' : 'app.cookies.reject') | translate}}</label>
            </div>
        </div>
    </div>
</div>
