<p><em>{{ 'privacy.lastupdated' | translate }}</em></p>
<h1 id="privacy-policy">{{ 'privacy.title' | translate }}</h1>
<h2 id="introduction">{{ 'privacy.introduction' | translate }}</h2>
<p>{{ 'privacy.description' | translate }}</p>
<h2 id="data-collection">{{ 'privacy.data.collection.title' | translate }}</h2>
<ul>
<li>{{ 'privacy.data.collection.li1' | translate }}</li>
<li>{{ 'privacy.data.collection.li2' | translate }}</li>
</ul>
<h2 id="use-of-cookies-and-analytics">{{ 'privacy.cookies.analytics.title' | translate }}</h2>
<ul>
<li>{{ 'privacy.cookies.analytics.li1' | translate }}</li>
<li>{{ 'privacy.cookies.analytics.li2' | translate }}</li>
<li>{{ 'privacy.cookies.analytics.li3' | translate }}</li>
<li>{{ 'privacy.cookies.analytics.li4' | translate }}</li>
</ul>
<h2 id="data-usage-and-sharing">{{ 'privacy.datausage.title' | translate }}</h2>
<ul>
<li>{{ 'privacy.datausage.li1' | translate }}</li>
<li>{{ 'privacy.datausage.li2' | translate }}</li>
</ul>
<h2 id="data-security">{{ 'privacy.datasecurity.title' | translate }}</h2>
<ul>
<li>{{ 'privacy.datasecurity.description' | translate }}</li>
</ul>
<h2 id="your-rights">{{ 'privacy.yourrights.title' | translate }}</h2>
<ul>
<li>{{ 'privacy.yourrights.li1' | translate }}</li>
<li>{{ 'privacy.yourrights.li2' | translate }}</li>
</ul>
<h2 id="changes-to-this-privacy-policy">{{ 'privacy.changes.title' | translate }}</h2>
<p>{{ 'privacy.changes.description' | translate }}</p>
<hr>
<p><strong>{{ 'privacy.contact.title' | translate }}</strong><br>
{{ 'privacy.contact.description' | translate }}</p>