<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <h3>{{ 'imprint.title' |  translate }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>{{ 'imprint.description' |  translate }}</p>
            <hr />
            <p>
                <strong>{{ 'imprint.responsible' |  translate }}</strong><br />
                {{ 'imprint.name' |  translate }}<br />
                {{ 'imprint.location' |  translate }}</p>
            <p>
                <strong>{{ 'imprint.contact' |  translate }}</strong>
                <br />
                <a href="https://www.linkedin.com/in/ragae">RaGae</a></p>
            <hr />
            <h2 id="notice">{{ 'imprint.notice.title' |  translate }}</h2>
            <p>{{ 'imprint.notice.description' |  translate }}</p>
            <hr />
            <h2 id="liability-for-content">{{ 'imprint.liability.title' |  translate }}</h2>
            <p>{{ 'imprint.liability.description' |  translate }}</p>
            <hr />
            <h2 id="liability-for-external-links">{{ 'imprint.externallinks.title' |  translate }}</h2>
            <p>{{ 'imprint.externallinks.description' |  translate }}</p>
            <hr />
            <p><strong>{{ 'imprint.dataprivacy.title' |  translate }}</strong><br />
            {{ 'imprint.dataprivacy.description' |  translate }}</p>
            <p>{{ 'imprint.furtherinfo' |  translate }}</p>
            <hr />
            <p><em>{{ 'imprint.name' |  translate }}</em></p>
        </div>
    </div>
</div>